<div class="container">
  <!-- header START-->
  <div appMyCustomDirective class="row p-3 mb-2 bg-primary text-white text-center">
    <div class="col-sm col ">
      Header Content 1
    </div>
    <div class="col-sm col">
      Header Content 2
    </div>
    <div class="col-sm col">
      Header Content 3
    </div>
  </div>

  <div class="w-100"></div>

  <div *ngIf="false" appMyCustomDirective
    class="row p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Create Custom Directive example</h5>
        <p>You can create custom directives in Angular to respond to various events or situations. Here are some common
          events or situations where you might create a custom directive:</p>
        <h6>Click Event: </h6>
        <p class="mb-0">You can create a custom directive to perform an action when an element is clicked, like the
          example I provided earlier.</p>

        <h6>Hover Event:</h6>
        <p class="mb-0">
          Create a directive that reacts when an element is hovered over by a mouse pointer. This could be used to
          trigger animations or show additional information.
        </p>

        <h6>Form Input Events:</h6>
        <p class="mb-0">
          You can create a directive that validates or manipulates form input fields. For instance, a directive could
          format a phone number input as the user types.
        </p>

        <h6>Scroll Event:</h6>
        <p class="mb-0">
          Create a directive that responds to scrolling actions. For instance, a "scroll-to-top" directive could be used
          to smoothly scroll the page to the top when a button is clicked.
        </p>

        <h6>Window Resize Event:</h6>
        <p class="mb-0">
          You can create a directive that reacts to changes in the window size. This could be used to dynamically adjust
          the layout or styles of elements based on screen dimensions.
        </p>

        <h6>Custom Application Logic:</h6>
        <p class="mb-0">
          If your application has unique interaction patterns or requirements, you can create directives that
          encapsulate and manage that behavior. For example, you might create a directive that adds drag-and-drop
          functionality to specific elements.
        </p>

        <h6>Integration with Third-Party Libraries:</h6>
        <p class="mb-0">
          If you're integrating third-party libraries that require specific behavior on certain events, you can create
          directives to encapsulate and manage the interaction between your Angular app and the library.
        </p>

        <h6>Dynamic Content Generation:</h6>
        <p class="mb-0">
          You can create a directive that generates dynamic content based on certain conditions. For example, you might
          have a directive that displays a message when an element is empty.
        </p>

        <h6>Authentication and Authorization:</h6>
        <p class="mb-0">
          Create a directive that shows or hides specific parts of your application's UI based on the user's
          authentication or authorization status.
        </p>



      </div>
    </div>
  </div>

  <!-- header ENDS -->


  <div class="row" *ngIf="false">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <form class="row" appMyCustomDirective [formGroup]="signupForm" (ngSubmit)="handleSignUp()">
      <div class="col-md-6">
        <label for="validationServer01" class="form-label">First name</label>
        
        <input 
        formControlName="firstName" 
        appShowError
        type="text" 
        class="form-control"
        id="validationServer01"
        required>

        <div class="valid-feedback">
          Looks good!
        </div>

        <div id="validationServer01" class="invalid-feedback">
          Please enter valid first name.
        </div>

      </div>
      <div class="col-md-6">
        <label for="validationServer02" class="form-label">Last name</label>

        <input 
        formControlName="lastName"
        appShowError
        type="text" 
        class="form-control" 
        id="validationServer02" 
          required>

        <div class="valid-feedback">
          Looks good!
        </div>

        <div id="validationServer02" class="invalid-feedback">
          Please enter valid last name.
        </div>

      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input 
        formControlName="email" 
        type="email" 
        appShowError
        placeholder="Email" 
        class="form-control"
        id="validateEmail" 
        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
        
        <div class="valid-feedback">
          Looks good!
        </div>

        <div id="validateEmail" class="invalid-feedback">
          Please enter valid email.
        </div>

      </div>

      <div class="col-md-6">
        <label for="validationServer03" class="form-label">Phone</label>
        <input 
        appShowError
        formControlName="phone" 
        type="text" 
        class="form-control" 
        id="validationServer03"
        aria-describedby="validationServer03Feedback" 
        required>

        <div id="validationServer03Feedback" class="invalid-feedback">
          Please provide your phone number.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>

      </div>



      
      <div class="col-12">
        <button [disabled]="!signupForm.valid" class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>

</div>